hadrware-configuration.nix
result
.envrc
.env
Plugins/
.emacs.d
.DS_Store
.idea
*.log
tmp/
.db
.pi-lens

*.py[cod]
*.egg
build
htmlcov

*.sqlite

configs/fcitx5/profile
.aider*
meta.db-shm
meta.db
meta.db-wal
