[submodule "modules/taffybar/build/taffybar"]
	path = taffybar
	url = git@github.com:p2d0/my-taffybar-config.git
[submodule "configs/ideavim/.intellimacs"]
	path = configs/ideavim/.intellimacs
	url = https://github.com/MarcoIeni/intellimacs.git
