[submodule "xmonad"]
	path = xmonad
	url = https://github.com/p2d0/my-xmonad-config
[submodule "rofi"]
	path = rofi
	url = https://github.com/p2d0/my-rofi-config
[submodule "dotfiles"]
	path = dotfiles
	url = https://github.com/p2d0/dotfiles
